.edit-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: #3c535e;
}

.edit-form {
    display: flex;
    flex-direction: column;
    background-color: #698492;
    padding: 2%;
    border-radius: 10px;
    width: 50%;
    box-shadow: 5px 10px 21px -2px rgba(34,30,30,0.75);
    -webkit-box-shadow: 5px 10px 21px -2px rgba(34,30,30,0.75);
    -moz-box-shadow: 5px 10px 21px -2px rgba(34,30,30,0.75);
}

.edit-form-group {
    margin: 0;    
}

.edit-post-button {
    margin-top: 3vh;
}

.edit-form-text {
    font-size: 125%;
}

label {
    font-weight: 500;
}

@media screen and (max-width: 750px) {
    .edit-form{
        width: 75%;
    }
}