.card {
    text-align: left;
    width: 50%;
    margin: 2% 0 2% 0;
    box-shadow: 5px 5px 15px -2px rgba(34,30,30,0.75);
    -webkit-box-shadow: 5px 5px 15px -2px rgba(34,30,30,0.75);
    -moz-box-shadow: 5px 5px 15px -2px rgba(34,30,30,0.75);
}

.card-body {
    display: flex;
}

.post-button {
    margin-right: 2%;
}

.button-link, .button-link:hover, .button-link:active {
    color: snow;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .card{
        text-align: center;
        margin-top: 5%;
        width: 75%;
    }
    .card-body {
        justify-content: center;
    }
}